.center {
    margin: auto;
    width: 60%;
    padding: 10px;
  }

  body {
      margin: 10;
      padding: 10;
      background-image: url(bground.jpg);
      height: 100vh;
      font-family: "montserrat",sans-serif;
  }
